.home{
    height: 90vh;
    display: grid;
    grid-template-columns: 18rem 30rem auto;
    background-color: black;
    color: #ffffff;
    padding: 2rem 2rem;
}

.left{
    padding: 1rem;
}

.center{
    padding: 1rem;
}

.right{
    padding: 1rem;
}